html {
	background-color: skyblue;
	font-size: 10px;
	box-sizing: border-box;
	font-family: Helvetica, arial, sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

p, li {
	line-height: 1.6;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 24rem;
}

ul, ol, p, dl {
	font-size: 1.6rem;

}
